$bg1-pages: (
    bg-image: url(../../imagenes/fondo.png),
    bg-position: center,
    bg-attachment: contain,
    bg-size: cover,
    box-sizing: border-box
);

$bg2-pages: (
    bg-image: url(../../imagenes/fondo2.png),
    bg-position: center,
    bg-attachment: contain,
    bg-size: cover,
    box-sizing: border-box
)